.main-advantage-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-list {
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantage-item {
  text-align: center;
  margin: 15px;

  @media screen and (min-width: 768px) {
    text-align: start;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
}
.advantage-frame {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  justify-content: center;
  align-items: center;
}
.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-title-color;
}
.advantage-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}
